[metadata]
name = placeholderprojnm
version = attr: placeholderprojnm.__version__

# project description parameters. These should be filled in accordingly
#author =  placeholderauthor ,
#description = placeholderdescription
#long_description = file: README.md
#long_description_content_type = text/markdown
#keywords = one, two
#classifiers = 
#    Programming Language :: Python :: 3
#    License :: OSI Approved :: MIT License
#    Operating System :: OS Independent
classifiers =
    License :: OSI Approved :: BSD License
    Programming Language :: Python :: 3

[options]
packages = find:
zip_safe = True
# Set this is using a MANIFEST.in 
# include_package_data = True
install_requires =
    k3logging == 0.1

[options.entry_points]
console_scripts = 
    placeholderprojnm-cli = placeholderproj_root.main.cli:main


[options.package_data]
example = 
* = README.md